<div class="panel panel-default" style="margin-left:-3px">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 padding-left-10">
      <app-breadcrumbs [items]='itemsPath'></app-breadcrumbs>
    </div>
  </div>
  <div class="panel-heading section-padding">
    <h3 class="panel-title" style="font-size: 24px">Search Documents</h3>
  </div>

  <div class="panel-body section-padding">
    <!--<h4>Intermediary</h4>-->
    <p-accordion>
      <p-accordionTab header="Intermediary" [selected]="flag">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-xs-4">
            <div>
              <div class="row paddingTopClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="control-label">Investment Type</label>
                </div>
              </div>
              <div class="row paddingDataClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.investmentType = $event' [selectedItem]='investmentType'></app-dropdown>
                </div>
              </div>
            </div>
            <div>
              <div class="row paddingTopClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="control-label">Name</label>
                </div>
              </div>
              <div class="row paddingDataClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.name = $event' [selectedItem]='name'></app-dropdown>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-4">
            <div>
              <div class="row paddingTopClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="control-label">Type</label>
                </div>
              </div>
              <div class="row paddingDataClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.intermediateType = $event' [selectedItem]='intermediateType'></app-dropdown>
                </div>
              </div>
            </div>
            <div>
              <div class="row paddingTopClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="control-label">Status</label>
                </div>
              </div>
              <div class="row paddingDataClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.status = $event' [selectedItem]='status'></app-dropdown>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-4">
            <div>
              <div class="row paddingTopClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="control-label">Location</label>
                </div>
              </div>
              <div class="row paddingDataClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.location = $event' [selectedItem]='location'></app-dropdown>
                </div>
              </div>
            </div>
            <div>
              <div class="row paddingTopClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="control-label">Id</label>
                </div>
              </div>
              <div class="row paddingDataClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.id = $event' [selectedItem]='id'></app-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
    <br>

    <p-accordion>
      <p-accordionTab header="Agreement" [selected]="flag">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-xs-4">
            <div>
              <div class="row paddingTopClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="control-label">Type</label>
                </div>
              </div>
              <div class="row paddingDataClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.agreementType = $event' [selectedItem]='agreementType'></app-dropdown>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-4">
            <div>
              <div class="row paddingTopClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="control-label">Agreement</label>
                </div>
              </div>
              <div class="row paddingDataClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.agreement = $event' [selectedItem]='agreement'></app-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
    <br>
    <!--<h4>Event</h4>-->
    <p-accordion>
      <p-accordionTab header="Event" [selected]="flag">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-xs-4">
            <div>
              <div class="row paddingTopClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="control-label">Event</label>
                </div>
              </div>
              <div class="row paddingDataClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.event = $event' [selectedItem]='event'></app-dropdown>
                </div>
              </div>
            </div>
            <div>
              <div class="row paddingTopClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="control-label">Start Date</label>
                </div>
              </div>
              <div class="row paddingDataClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <!--<app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.startDate = $event' [selectedItem]='startDate'></app-dropdown>-->
                  <app-calender id="calender" class="calWidth" (calenderSelected)='this.startDate = $event' showIcon='true' yearNavigator='true'
                monthNavigator='true' yearRange='2000:2030' [inputDate]='startDate'></app-calender>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-4">
            <div>
              <div class="row paddingTopClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="control-label">Event Status</label>
                </div>
              </div>
              <div class="row paddingDataClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.eventStatus = $event' [selectedItem]='eventStatus'></app-dropdown>
                </div>
              </div>
            </div>
            <div>
              <div class="row paddingTopClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="control-label">End Date</label>
                </div>
              </div>
              <div class="row paddingDataClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <!--<app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.endDate = $event' [selectedItem]='endDate'></app-dropdown>-->
                  <app-calender id="calender" class="calWidth" (calenderSelected)='this.endDate = $event' showIcon='true' yearNavigator='true'
                monthNavigator='true' yearRange='2000:2030' [inputDate]='endDate'></app-calender>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-4">
            <div>
              <div class="row paddingTopClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="control-label">Active</label>
                </div>
              </div>
              <div class="row paddingDataClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.active = $event' [selectedItem]='active'></app-dropdown>
                </div>
              </div>
            </div>
            <div>
              <div class="row paddingTopClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="control-label">File Name</label>
                </div>
              </div>
              <div class="row paddingDataClass">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <app-input (inputTextSelected)='this.fileName = $event' #inputfileName [value]='fileName' maxlength="60"></app-input>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
  <br>
  <div class="row addCheckListButtons">
    <div class="col-sm-8 col-md-8 col-lg-8">
      <app-button (click)="saveData()" label="Search" styleClass='button-action'></app-button>
      <app-button (click)="resetAll()" label="Clear All" styleClass='button-action'></app-button>
    </div>
  </div>
</div>